* {
    margin: 0;
    padding: 0;
    font-family: "futura md bt";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background:#F5FFF5;
}
/* Nav Bar*/
.logo{
    font-size: 28.015px;
    font-weight: 700;
}
.logo img{
    padding-top:10px ;
    width: 5%;
}
.logo span{
    padding-bottom: 30px;
}
header {
    margin-top: 40px;
    background: #FFFFFF;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-radius: 48px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
    
}
.nav_items{
    align-items: center;
    font-size: 25.02px;
    font-style: normal;
font-weight: 600;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    color: #2563EB;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}
/* Main page*/
.image_container {
    margin: auto; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    max-width: 95%; 
    position: relative;
    z-index: 1;
}
.image_container img{
    width: 100%;
    border-radius: 0px 0px 32px 32px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.36) 11.72%, rgba(0, 0, 0, 0.00) 82.93%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    background-blend-mode: normal, normal, darken;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.36) inset, 0px 8px 8px 0px rgba(0, 0, 0, 0.36);
   align-items: center;
   height: 521px;
    flex-shrink: 0;
    z-index: 1;
    animation-name: animate;
    animation-direction:alternate-reverse ;
    animation-duration: 30s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite ;
    animation-play-state:running ;
    animation-timing-function:ease-in-out ;
}
@keyframes animate {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.overlay-text {
    font-family: 'TypoGraphica';
    position: absolute;
    top: 30%; /* Adjust vertical position to center the text */
    left: 50%; /* Adjust horizontal position to center the text */
    transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 70px; /* Set font size to 70px */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.958px;
    font-weight: bolder;
    animation: transformText 8s infinite;
    z-index: 1;
}
.overlay-text2 {
    position: absolute;
    top: 45%; /* Adjust as needed */
    left: 20%;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.148px;
    font-size: 28.709px;
    font-family: 'Poppins';
    z-index: 1;
}
.email-box {
    position: absolute;
    top: 65%; /* Adjust as needed */
    left: 40%;
    transform: translateX(-50%);
    display: flex;
    width: 650px;
    height: 50px;
    padding: 17px 16px 17px 20px;
    align-items: center;
    gap: 13px;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.62);
    background-color: rgba(255, 255, 255, 0.5); /* Background color for the email box */
    backdrop-filter: blur(60px);
    z-index: 1;
}

.email-box input {
    width: calc(100% - 80px); /* Adjust width as needed */
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    background-color: transparent; /* Set background color of input to transparent */
}

.email-box input:hover{
    border: none;
}
.email-box input::placeholder {
    color: #FFF;
}
.email-box input::placeholder:hover {
    border: none;
}
.subscribe-btn {
    width: 20%;
    height: 50px;
    font-family: 'poppins';
    top: 69%;
    left: 75%;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    border: 1px solid rgba(37, 99, 235, 0.62);
    background-color: #1c4fc9;
    box-shadow: 0px 0px 8px 0px #2563EB;
    backdrop-filter: blur(60px);
    z-index: 1;
}
.subscribe-btn ::placeholder{
    color: var(--base-white, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
}
.subscribe-btn:hover {
    background: rgba(37, 99, 235, 0.48);
}
.subscribe-btn i{
    padding-left:10px ;
    color: #FFF;
}
.overlay-text {
    /* Your existing styles for overlay-text */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: changeText 1s infinite;
}

@keyframes transformText {
    0%, 10% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        content: 'MODERINIZE Your Retail Experience';
    }
    25%, 35% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        content: 'REINVENT Your Retail Experience';
    }
    50%, 60% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        content: 'ENHANCE Your Retail Experience';
    }
    75%, 85% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        content: 'TRANSFORM Your Retail Experience';
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        content: 'MODERINIZE Your Retail Experience';
    }
}
/* Default styles */

/* Your existing styles */



/* Add more media queries as needed */
header {
    position: relative;
    z-index: 2; /* Ensure it appears above other elements */
}
@media only screen and (max-width: 700px) {
    .body{
        width: 100%;
    }
    .image_container {
        max-width: 95%; /* Adjust max-width for even smaller screens */
    }
    .overlay-text{
        font-size: 30px;
        letter-spacing: 0;
    }
    .overlay-text2{
        font-size: 20px;
        left:0%;
        letter-spacing: 0;
    }
    .email-box{
        top:80%;
        width: 60%;
    }
    .subscribe-btn{
        padding: 0%;
        width: 28%;
        margin-top: 1%;
        left: 85%;
    }
}
@media only screen and (max-width: 900px) {

    .image_container {
        max-width: 95%; /* Adjust max-width for even smaller screens */
    }
    .overlay-text{
        font-size: 50px;
        letter-spacing: 1.3px;
    }
    .overlay-text2{
        font-size: 30px;
        left:0%;
        letter-spacing: 0.5px;
    }
    .email-box{
        width: 60%;
        top: 72%;
    }
    .subscribe-btn{
        top: 75%;
        padding: 0%;
        width: 28%;
        margin-top: 1%;
        left: 85%;
    }
}
@media only screen and (max-width: 376px) {
    .image_container {
        max-width: 95%; /* Adjust max-width for even smaller screens */
    }
    .overlay-text{
        font-size: 25px;
        letter-spacing: 0;
    }
    .overlay-text2{
        font-size: 20px;
        left:0%;
        letter-spacing: 0;
    }
    .email-box{
        top:80%;
        width: 60%;
    }
    .subscribe-btn{
        padding: 0%;
        width: 28%;
        margin-top: 1%;
        left: 85%;
    }
}
.buttons{
    align-items: center;
    text-align: center;
    justify-content: center;
   padding-top:50px ;
   padding: 32px;
}
   
.download {
    margin-right: 30px;
    width: 286px;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid rgba(37, 99, 235, 0.00);
    background: #B8FF00;
    box-shadow: 0px 0px 8px 0px #B8FF00;
    backdrop-filter: blur(60px);
    font-size: 28.709px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.148px;
    font-family: 'TypoGraphica';
    text-align: center;
}

.shop {
    color: #FFF;
    width: 286px;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid rgba(37, 99, 235, 0.00);
    background: #000;
    box-shadow: 0px 0px 8px 0px #000;
    backdrop-filter: blur(60px);
    font-size: 28.709px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.148px;
    font-family: 'TypoGraphica';
    text-align: center;
}
/* Trusties */
.Trusties {
    font-size: 64.008px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Poppins';
    padding-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.slider {
    height: 250px;
    margin-left: 5%;
    position: relative;
    width: 90%;
    display: flex;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 10s linear infinite; 
   
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 4));
    }
}

.line {
    width: 2px;
    height: 450px; 
    background:rgb(220,220,220);
    margin: 0 20px; /
}


.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.slide img {
    width: 100%;
}
/* services */
.container1{
    position: relative; 
    text-align: center;
        padding: 0 50px; 
        width: auto;
        height: auto;
        margin: 0 auto; 
        top: -200px;
    }
    
h2 {
    margin-top: 50px;
    color: #000;
    font-family: Poppins;
    font-size: 64.01px;
    font-weight: 700;
    word-wrap: break-word;
}
.services {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.service {
    width: 30%;
    margin: 0 10px;
}
.service img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.service h3 {
    color: #1B2021;
    font-size: 39.56px;
    font-family: TypoGraphica;
    font-weight: 400;
    letter-spacing: 1.19px;
    word-wrap: break-word;
    margin-top: 20px;
}
.service p {
    color: #2563EB;
    font-size: 24.45px;
    font-family: Gabriela;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 10px;
}
/* The Problems */
.problem{
    position: relative;
    top:-100px;
}
.svg{
    position: relative;
    margin-left: 80%;
    top: -130px;
}
.problem_title {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 64.008px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.problem_info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gabriela", serif;
    position: relative;
    top: -50px;
}

.problem_info_1,
.problem_info_2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.problem_info_1 img,
.problem_info_2 img {
    width: 110.135px;
    height: 110.135px;
}

.problem_info_1 h1,
.problem_info_2 h1 {
    color: #1B2021;
    text-align: center;
    font-family: TypoGraphica;
    font-size: 24.45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.733px;
    width: 65%;
}

.problem_info_1 p,
.problem_info_2 p {
    color: #2563EB;
    text-align: center;
    font-family: Gabriela;
    font-size: 24.45px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.794px;
    width: 65%;
}

.line {
    width: 2px;
    height: 450px; 
    background:rgb(220,220,220);
    margin: 0 20px; /
}
/* Our mission */
.svg{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mission_container {
    position: relative;
    top: -150px; /* Assuming this is intentional */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text horizontally */
    width: 70%;
    padding: 8px;
    gap: 32px;
    height: 100%; /* Add this to ensure the container takes full height */
}

.mission_title {
    padding-left: 40%;
    font-size: 64px; /* Adjust the font size as necessary */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0; /* Reset margin to ensure accurate centering */
    transform: translateY(-50%); /* Center vertically using transform */
}
.mission_items{
    position: relative;
    top: -100px;
    display: flex;
    align-items: center; 
    color: #2563EB;
    text-align: center;
    font-family: 'Gabriela';
    font-size: 24.45px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.794px; /* 146.396% */
    padding-right: 10%;
}
.mission_items img {
   padding-left: 20%;
}
/* Team */
.team h1{
    font-size: 64.008px;
    text-align: center;
    align-items: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.team_txt{
    color: #2563EB;
    text-align: center;
    font-family: 'Gabriela';
    font-size: 28.709px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.148px;
}
.card-conatiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 288.07px;
    height: 517.788px;
    border-radius: 18.232px;
    overflow: hidden;
    margin: 20px;
    border-radius: 0px 0px 18.232px 18.232px;
opacity: 0.8;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 18.232px;
}

.card-content {
    position: absolute;
    top: 70%;
    left: 0%;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.card-content span {
    font-size: 21.41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}

.card-content p {
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 14.76px;
}
.team_last{
    text-align: center;
    color: var(--blue-600, #2563EB);
text-align: center;
/* Bold/16px */
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 175% */
letter-spacing: -0.2px;
}
.team_last i{
    padding-bottom: 20px;
    transform: rotate(45deg); 
    width: 18px;
height: 18px;
}
/* contact */
.contact span{
    text-align: center;
    font-family: Poppins;
    font-size: 64.008px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    top: -100px;
    padding-left: 20%;
}
.map{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.above_footer {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50vh; 
}

.above_footer_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    background: #56BE56;
    height: 100%; 
    width: 80%; 
}

.above_footer_cont img {
    width: 59.73px;
    height: 55.288px;
}

.one {

    position: relative;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18.378px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top:-10px
}

.two {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    padding-top: 20px;
}
.above_footer_mail
{
    padding-top:50px ;
    display: flex;
    flex-direction:row;
    margin-top: 2%;
}
.above_footer_mail input:first-child
{
    width: 256px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 13px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid var(--gray-300, #D4D4D8);
    background: #79D479;
    margin-right: 20px;
}
.above_footer_mail input:nth-child(2) 
{
    width: 256px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 13px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid var(--gray-300, #D4D4D8);
    background: #79D479;
    margin-right: 20px;
}

.subscribe
{
    padding-top: 15px;
    border-radius: 9px;
    background: #000;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.32);
    width: 256px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}
.links{
    
    position: relative;
    
}
.links-cont {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}
.links img{
   position: relative;
   left: 80%;
}
.links-cont::after {
    content: '';
    position: absolute;
    bottom: -10px; 
    left: 25%; 
    width: 50%;
    height: 1px;
    background-color: #000; 
    top:200%;
}

.links-cont i {
    margin-left: 30px;
    border-style: solid;
    padding: 1%;
    border-radius: 50px;
    border-width: 0.5px;
}

.links-cont i:nth-child(1):hover {
    border-style: none;
    background: linear-gradient(white, #1DA1F2);
    color: white; 
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out; 
}

.links-cont i:nth-child(2):hover {
    border-style: none;
    background: linear-gradient(120deg, #3B5998, #FFFFFF);
    color: white; 
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out; 
}

.links-cont i:nth-child(3):hover {
    border-style: none;
    background: linear-gradient(45deg, #405DE6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white; 
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out; 
}

.links-cont i:nth-child(4):hover {
    border-style: none;
    background: linear-gradient(45deg, #0077b5, #00a0dc);
    color: white; 
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out; 
}

.copyright {
    text-align: center;
    color: var(--gray-500, #71717A);
}